.emaillist {
    display: flex;
    flex-direction: column;
}
.Emaillist{
    height: 84vh;
    overflow-y: scroll ;
}

.emailist__settings{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    height: 35px;
}

.emailist__settings svg{
    font-size: 18px;
}

.emailist__settingsRight{
    display: flex;
    align-items: center;
}

.emailist__settingsRight p {
    font-size: 13px;
}

.emailtype{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.emailtype > .email__options{
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
}

.emailtype > .email__options svg{
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

.emailtype > .email__options p{
    font-size: 15px;
}

.emailtype > .email__options:hover{
    background-color:whitesmoke;
}

.email__options--active{
    border-bottom: 3px solid #d93025 !important;
}

.email__options--active p,
.email__options--active svg
{
    color:#d93025 !important;
    font-weight: bold;
}

.emailbody{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 10px;
    height: 40px;
}

.emailbody:hover{
box-shadow: 2px 2px 4px whitesmoke;
cursor: pointer;
}

.emailbody .emailbody__left{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    flex: 20%;
    min-width: 300px;
}

.emailbody .emailbody__left svg{
    font-size: 18px;
    color: gray;
    margin-right: 15px;
}
.emailbody .emailbody__left h4{
    font-size: 14px;
}

.emailbody .emailbody__middle{
    display: flex;
    align-items: center;
    flex: 90%;
}

.emailbody__middle .emailbody__middle_msg{
    display: flex;
    align-items: center;
    width: 90%;
}
.emailbody .emailbody__middle p{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    max-width: 700px;
}

.emailbody .emailbody__right{
    display: flex;
    align-items: center;
    flex: 10%;
    justify-content: flex-end;
}

.emailbody .emailbody__right p{
    font-size: 12px;
}
.emailDetails__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 15px;
}
.emailDetails__headerLeft{
    display: flex;
    align-items: center;
}
.emailDetails__headerLeft svg{
    font-size: 18px;
}

.emailDetails__middleheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.emailDetails__middleheaderLeft{
    display: flex;
    align-items: center;
}

.emailDetails__middleheaderRight{
    display: flex;
    align-items: center;
}

.emailDetails__middleheader svg{
    font-size: 18px;
}

.emailDetails__middleheaderLeft h4{
   margin-right: 10px;
}

.emailDetails__middleheaderLeft p{
    font-size: 12px;
}

.emailDetails__middleheaderRight p{
    font-size: 12px;
}

.emailDetails_body{
    display: flex;
    padding: 0px 15px;
}

.emailDetails_message{
    box-shadow: 0px 0px 3px #ccc;
    height: 100%;
}

.emailist__settingsLeft > button{
    background-color: white;

}